<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Rumbl!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link "Home", to: page_path(@conn, :index)%>
              </li>
              <%= if @current_user do %>
                <li>
                  <%= link "Users", to: user_path(@conn, :index)%>
                </li>
                <li>
                  <%= link "Videos", to: video_path(@conn, :index)%>
                </li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <%= if @current_user do %>
                <li>
                  <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
                </li>
                <li>
                  <%= link @current_user.username, to: "#" %>
                </li>
              <% else %>
                <li>
                  <%= link "Login", to: session_path(@conn, :new)%>
                </li>
                <li>
                  <%= link "Register", to: user_path(@conn, :new)%>
                </li>
              <% end %>
            </ul>
           </div>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
